.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: 'Monaco', monospace;
  color: white;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: red;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  /* Add the css property transition here! */
  transition: 0.3s;
}
/* active state */
.hoverMe:hover {
  /* Add your hover state css here. */
  background-color: #FF6633;
  width: 300px;

}

.newButton {
    grid-area: hover;
    padding: 15px;
    background-color: #900C3F;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    border: none;
  /* Add the css property transition here! */
    transition: 0.3s;

}
/* active state */
.newButton:hover {
  /* Add your hover state css here. */
  background-color: #D5A4B7;

}